* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fs8.favim.com%2F610%2F151022%2Faesthetic-bruno-mars-emo-fall-out-boy-Favim.com-3462229.jpg&f=1&nofb=1");
}

h1{
    color:white;
}

#formulario {
    width: 500px;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 0 auto;
    background-color: rgb(141, 219, 175);
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

#formulario form label {
    width: 300px;
    float: left;
    font-family: verdana;
    font-size: 16px;
    
}

.botonagregar {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 169, 185);
    border: 2px solid black;
}

input[type=text]{
    border-radius: 0;
}